In [14]:
import pandas as pd
import os

In [15]:
segSummaries =  "A:/1 - TDM/3 - Model Dev/1 - WF/1 - Official Release/v9x/v9.0/WF TDM v9.0 - official/Scenarios/_roadwaysegsummaries"
scnJson = "_site/scenarios.json"

In [16]:
# attributes for road seg summaries
dfAttributes = pd.DataFrame([
    ["aLinks"  ,"Links"                     ],
#   ["aDist"   ,"Distance"                  ],
    ["aLanes"  ,"Lanes"                     ],
    ["aFt"     ,"Functional Type"           ],
    ["aFtClass","Functional Class"          ],
    ["aCap1HL" ,"Capacity per Hour per Lane"],
    ["aFfSpd"  ,"Free-flow Speed"           ],
    ["aVol"    ,"Volume"                    ],
    ["aSpd"    ,"Speed"                     ],
    ["aMaxVc"  ,"Volume-to-Capacity Ratio"  ]
], columns=('aCode','aName'))

display(dfAttributes)

dfFilters = pd.DataFrame([
    ["fTod"  ,"Time of Day" , "select"],
    ["fVeh"  ,"Vehicle Type", "select"]
], columns=('fCode','fName','fWidget'))

display(dfFilters)

      aCode                       aName
0    aLinks                       Links
1    aLanes                       Lanes
2       aFt             Functional Type
3  aFtClass            Functional Class
4   aCap1HL  Capacity per Hour per Lane
5    aFfSpd             Free-flow Speed
6      aVol                      Volume
7      aSpd                       Speed
8    aMaxVc    Volume-to-Capacity Ratio

  fCode         fName fWidget
0  fTod   Time of Day  select
1  fVeh  Vehicle Type  select

In [17]:
# MAKE SURE ONLY COLUMNS WITH LOWER-CASE "f" ARE FILTER COLUMNS AND LOWER-CASE "a" ARE ATTRIBUTE COLUMNS

dfColKeys = pd.DataFrame([
    ['LINKS'      , None , None, 'aLinks'  ],
#   ['DIST_1WY'   , None , None, 'aDist'   ], # Distance is not actual distance of segment but only links defined with SEGID, for freeways this can be pretty different
    ['LANES'      , None , None, 'aLanes'  ],
    ['FT'         , None , None, 'aFt'     ],
    ['CAP1HL'     , None , None, 'aCap1HL' ],
    ['AM_VOL'     , 'All', 'AM', 'aVol'    ],
    ['MD_VOL'     , 'All', 'MD', 'aVol'    ],
    ['PM_VOL'     , 'All', 'PM', 'aVol'    ],
    ['EV_VOL'     , 'All', 'EV', 'aVol'    ],
    ['DY_VOL'     , 'All', 'DY', 'aVol'    ],
    ['DY_LT'      , 'LT' , 'DY', 'aVol'    ],
    ['DY_MD'      , 'MD' , 'DY', 'aVol'    ],
    ['DY_HV'      , 'HV' , 'DY', 'aVol'    ],
    ['FF_SPD'     , None , None, 'aFfSpd'  ],
    ['AM_SPD'     , None , 'AM', 'aSpd'    ],
    ['MD_SPD'     , None , 'MD', 'aSpd'    ],
    ['PM_SPD'     , None , 'PM', 'aSpd'    ],
    ['EV_SPD'     , None , 'EV', 'aSpd'    ],
    ['DY_SPD'     , None , 'DY', 'aSpd'    ],
    # calculated in notebook - TO BE REPLACED BY VOYAGER CODE IN FUTURE
    ['AM_VC'      , None , 'AM', 'aMaxVc'  ],
    ['MD_VC'      , None , 'MD', 'aMaxVc'  ],
    ['PM_VC'      , None , 'PM', 'aMaxVc'  ],
    ['EV_VC'      , None , 'EV', 'aMaxVc'  ],
    ['DY_VC'      , None , 'DY', 'aMaxVc'  ]
], columns=('col','fVeh','fTod','aCode'))

dfColKeys

       col  fVeh  fTod    aCode
0    LINKS  None  None   aLinks
1    LANES  None  None   aLanes
2       FT  None  None      aFt
3   CAP1HL  None  None  aCap1HL
4   AM_VOL   All    AM     aVol
5   MD_VOL   All    MD     aVol
6   PM_VOL   All    PM     aVol
7   EV_VOL   All    EV     aVol
8   DY_VOL   All    DY     aVol
9    DY_LT    LT    DY     aVol
10   DY_MD    MD    DY     aVol
11   DY_HV    HV    DY     aVol
12  FF_SPD  None  None   aFfSpd
13  AM_SPD  None    AM     aSpd
14  MD_SPD  None    MD     aSpd
15  PM_SPD  None    PM     aSpd
16  EV_SPD  None    EV     aSpd
17  DY_SPD  None    DY     aSpd
18   AM_VC  None    AM   aMaxVc
19   MD_VC  None    MD   aMaxVc
20   PM_VC  None    PM   aMaxVc
21   EV_VC  None    EV   aMaxVc
22   DY_VC  None    DY   aMaxVc

In [18]:
dfScn = pd.read_json(scnJson)
dfScn = dfScn[['modVersion','scnGroup','scnYear']]
display(dfScn)
display(dfScn.dtypes)

   modVersion   scnGroup  scnYear
0        v900       Base     2019
1        v900       Base     2023
2        v900        TIP     2028
3        v900        RTP     2032
4        v900        RTP     2042
5        v900        RTP     2050
6        v900    NoBuild     2032
7        v900    NoBuild     2042
8        v900    NoBuild     2050
9        v900      Needs     2032
10       v900      Needs     2042
11       v900      Needs     2050
12       v900      Needs     2042
13       v900  Needs MAG     2050

modVersion    object
scnGroup      object
scnYear        int64
dtype: object

In [19]:
# create folders
# Define a root directory where you want to create subfolders
root_dir = './_site/data/scnData'

# Ensure the root directory exists
if not os.path.exists(root_dir):
    os.makedirs(root_dir)

# Loop through the dataframe and create subfolders
for index, row in dfScn.iterrows():
    folder_name = f"{row['modVersion']}__{row['scnGroup']}__{row['scnYear']}"
    full_path = os.path.join(root_dir, folder_name)
    
    if not os.path.exists(full_path):
        os.makedirs(full_path)

In [20]:
import pandas as pd
import os
import glob

# Define the subfolder path
subfolder_path = './data/segSummaries/'

# Use glob to get all the files ending with "_Summary_SEGID.csv"
file_paths = glob.glob(os.path.join(subfolder_path, "*.csv"))

# Create an empty list to store dataframes
dfs = []

# Loop through the files, parse filename, and read them into dataframes
for file_path in file_paths:
    # Get filename without extension
    filename = os.path.splitext(os.path.basename(file_path))[0]
    
    # Split filename based on double underscore
    modVersion, scnGroup, scnYear = filename.split('__')
    
    # Read the CSV into a dataframe
    df = pd.read_csv(file_path)
    
    # Add new columns with values from filename
    df['modVersion'] = modVersion
    df['scnGroup'] = scnGroup
    df['scnYear'] = scnYear
    
    dfs.append(df)

# If you want to concatenate all the dataframes into a single dataframe
dfCombined = pd.concat(dfs, ignore_index=True)
dfCombined['scnYear'] = dfCombined['scnYear'].astype('int64')
dfCombined

,SEGIDIDX,SEGID,SUBAREAID,CO_FIPS,AREATYPE,ATYPENAME,LINKS,DIST_1WY,LANES,FT,...,D2_DY_HV,D2_FF_SPD,D2_AM_SPD,D2_MD_SPD,D2_PM_SPD,D2_EV_SPD,D2_DY_SPD,modVersion,scnGroup,scnYear
0,1,0006_146.9,1.0,49.0,1.0,Rural,20,8.789,2.0,2.0,...,45.8,58.0,58.0,58.0,58.0,58.0,58.0,v900,Base,2019
1,2,0006_149.9,1.0,49.0,1.0,Rural,2,0.621,2.0,2.0,...,40.1,58.0,58.0,58.0,58.0,58.0,58.0,v900,Base,2019
2,3,0006_150.6,1.0,49.0,1.0,Rural,8,1.976,2.0,2.0,...,44.8,58.0,58.0,58.0,58.0,58.0,58.0,v900,Base,2019
3,4,0006_152.6,1.0,49.0,1.0,Rural,2,0.374,2.0,3.0,...,76.1,55.0,55.0,55.0,55.0,55.0,55.0,v900,Base,2019
4,5,0006_152.9,1.0,49.0,1.0,Rural,6,3.060,2.0,2.0,...,122.7,57.7,57.7,57.7,57.6,57.7,57.7,v900,Base,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50292,3809,WFRC_8261,1.0,35.0,4.0,Urban,4,0.495,2.0,4.0,...,108.9,28.0,28.0,27.9,27.9,28.0,27.9,v900,TIP,2028
50293,3810,WFRC_8263,1.0,35.0,3.0,Suburban,4,0.444,2.0,4.0,...,102.9,34.0,33.9,33.5,30.5,34.0,32.6,v900,TIP,2028
50294,3811,WFRC_8264,1.0,11.0,3.0,Suburban,4,0.419,4.0,3.0,...,321.4,35.0,35.0,35.0,34.9,35.0,35.0,v900,TIP,2028
50295,3812,WFRC_8265,1.0,35.0,4.0,Urban,2,0.348,2.0,4.0,...,47.7,28.0,28.0,28.0,27.9,28.0,27.9,v900,TIP,2028
50296,3813,WFRC_8266,1.0,35.0,4.0,Urban,2,0.178,2.0,4.0,...,136.9,28.0,27.9,27.8,25.8,28.0,27.1,v900,TIP,2028

In [21]:
# CALCULATE VC -- TO BE REPLACED IN FUTURE
_df = dfCombined

def calculate_cap(_df, prefix, multiplier):
    factors = {'AM': 3, 'MD': 6, 'PM': 3, 'EV': 12}
    for period, factor in factors.items():
        _df[f'{prefix}{period}_VC'] = round(_df[f'{prefix}{period}_VOL'] / (_df[f'{multiplier}'] * _df[f'{prefix}LANES'] * factor),2)

calculate_cap(_df, 'D1_', 'D1_CAP1HL')
calculate_cap(_df, 'D2_', 'D2_CAP1HL')

_df['AM_VC'] = _df[['D1_AM_VC', 'D2_AM_VC']].max(axis=1)
_df['MD_VC'] = _df[['D1_MD_VC', 'D2_MD_VC']].max(axis=1)
_df['PM_VC'] = _df[['D1_PM_VC', 'D2_PM_VC']].max(axis=1)
_df['EV_VC'] = _df[['D1_EV_VC', 'D2_EV_VC']].max(axis=1)

_df['D1_DY_VC'] = _df[['D1_AM_VC', 'D1_MD_VC', 'D1_PM_VC', 'D1_EV_VC']].max(axis=1)
_df['D2_DY_VC'] = _df[['D2_AM_VC', 'D2_MD_VC', 'D2_PM_VC', 'D2_EV_VC']].max(axis=1)
_df['DY_VC'   ] = _df[['D1_DY_VC', 'D2_DY_VC']].max(axis=1)

dfCombined_withVc = _df

In [22]:
dfCombined_melt = dfCombined_withVc.melt(id_vars=['SEGID','modVersion','scnGroup','scnYear'], value_vars=dfColKeys['col'].tolist(), var_name='col', value_name='val')

dfCombined_melt

              SEGID modVersion scnGroup  scnYear    col    val
0        0006_146.9       v900     Base     2019  LINKS  20.00
1        0006_149.9       v900     Base     2019  LINKS   2.00
2        0006_150.6       v900     Base     2019  LINKS   8.00
3        0006_152.6       v900     Base     2019  LINKS   2.00
4        0006_152.9       v900     Base     2019  LINKS   6.00
...             ...        ...      ...      ...    ...    ...
1156826   WFRC_8261       v900      TIP     2028  DY_VC   0.20
1156827   WFRC_8263       v900      TIP     2028  DY_VC   0.54
1156828   WFRC_8264       v900      TIP     2028  DY_VC   0.24
1156829   WFRC_8265       v900      TIP     2028  DY_VC   0.18
1156830   WFRC_8266       v900      TIP     2028  DY_VC   0.47

[1156831 rows x 6 columns]

In [23]:
dfCombined_melt_withkeys = pd.DataFrame.merge(dfCombined_melt, dfColKeys, on='col')
dfCombined_melt_withkeys

,SEGID,modVersion,scnGroup,scnYear,col,val,fVeh,fTod,aCode
0,0006_146.9,v900,Base,2019,LINKS,20.00,None,None,aLinks
1,0006_149.9,v900,Base,2019,LINKS,2.00,None,None,aLinks
2,0006_150.6,v900,Base,2019,LINKS,8.00,None,None,aLinks
3,0006_152.6,v900,Base,2019,LINKS,2.00,None,None,aLinks
4,0006_152.9,v900,Base,2019,LINKS,6.00,None,None,aLinks
...,...,...,...,...,...,...,...,...,...
1156826,WFRC_8261,v900,TIP,2028,DY_VC,0.20,None,DY,aMaxVc
1156827,WFRC_8263,v900,TIP,2028,DY_VC,0.54,None,DY,aMaxVc
1156828,WFRC_8264,v900,TIP,2028,DY_VC,0.24,None,DY,aMaxVc
1156829,WFRC_8265,v900,TIP,2028,DY_VC,0.18,None,DY,aMaxVc
1156830,WFRC_8266,v900,TIP,2028,DY_VC,0.47,None,DY,aMaxVc

In [24]:
dfCombined_melt_withkeys_pivot_atts = dfCombined_melt_withkeys.pivot(index=[col for col in dfCombined_melt_withkeys.columns if col not in ['aCode','val','col']], columns='aCode', values="val")
dfCombined_melt_withkeys_pivot_atts.columns.name = None
dfCombined_melt_withkeys_pivot_atts.reset_index(inplace=True)
dfCombined_melt_withkeys_pivot_atts

,SEGID,modVersion,scnGroup,scnYear,fVeh,fTod,aCap1HL,aFfSpd,aFt,aLanes,aLinks,aMaxVc,aSpd,aVol
0,0006_146.9,v900,Base,2019,NaN,NaN,1065.0,58.0,2.0,2.0,20.0,NaN,NaN,NaN
1,0006_146.9,v900,Base,2019,NaN,AM,NaN,NaN,NaN,NaN,NaN,0.06,58.0,NaN
2,0006_146.9,v900,Base,2019,NaN,DY,NaN,NaN,NaN,NaN,NaN,0.06,58.0,NaN
3,0006_146.9,v900,Base,2019,NaN,EV,NaN,NaN,NaN,NaN,NaN,0.01,58.0,NaN
4,0006_146.9,v900,Base,2019,NaN,MD,NaN,NaN,NaN,NaN,NaN,0.04,58.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704153,WFRC_8266,v900,TIP,2028,All,MD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1848.3
704154,WFRC_8266,v900,TIP,2028,All,PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1768.0
704155,WFRC_8266,v900,TIP,2028,HV,DY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,315.9
704156,WFRC_8266,v900,TIP,2028,LT,DY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.3
704157,WFRC_8266,v900,TIP,2028,MD,DY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,594.3

In [25]:
import json

# PREPARE JSON FOR EACH SCENARIO
# scenarioDetails
# attributes
#   aCode
#   aName
#   filterGroup
# filterGroups
#   possible filterGroup Options
#   for each filterGroup possibility, the data for that selection

_df0 = dfCombined_melt_withkeys_pivot_atts.copy()

# Loop through scenarios in dfScn
for _, row in dfScn.iterrows():

    _scenarioCode = row['modVersion'] + '__' + row['scnGroup'] + '__' + str(row['scnYear'])
    print(_scenarioCode)

    # format scenario details for json export
    jsonScenarioDetails = row.to_dict()

    #print(row['modVersion'] + row['scnGroup'] + str(row['scnYear']))
    # Filter the main dataframe based on the scenario
    _df0_filtered = _df0[
        (_df0['modVersion'] == row['modVersion']) & 
        (_df0['scnGroup'] == row['scnGroup']) & 
        (_df0['scnYear'] == row['scnYear'])
    ].copy()

    _df = _df0_filtered.copy()

    # add options to _dfFiltersWithOptions
    
    _dfFiltersWithOptions = dfFilters.copy()

    # For each fCode, get the unique values from dfData, and join to dfFilters
    formatted_lists = []
    for fCode in dfFilters['fCode']:
        unique_values = [x for x in _df[fCode].unique() if pd.notna(x)]
        formatted_lists.append(unique_values)
    #display (formatted_lists)

    _dfFiltersWithOptions['fOptions'] = formatted_lists    
    #display(_dfFiltersWithOptions)

    # get list of fitler groups (any column that begins with f)
    fCols = [col for col in dfCombined_melt_withkeys.columns if col.startswith('f')]
    _df[fCols] = _df[fCols].fillna('')
    _dfFilters = _df[fCols].drop_duplicates()

    # Drop rows with empty strings in ALL columns
    #_dfFilters = _dfFilters[~(_dfFilters == '').all(axis=1)]
    #display(_dfFilters)

    # Convert the values to binary form, so 1 where there is a value and 0 elsewhere
    binary_dfFilters = _dfFilters.applymap(lambda x: 0 if x=='' else 1)
    #display(binary_dfFilters)

    # Get unique rows of combinations
    unique_combinations = binary_dfFilters.drop_duplicates()

    # Convert the unique combinations to a list of tuples
    lstCombinations = list(unique_combinations.itertuples(index=False, name=None))
    #display(lstCombinations)

    # Define a function to convert to binary
    def is_empty_or_not(value):
        return 0 if value=='' else 1

    _dfFilterACodes = pd.DataFrame()

    jsonDataCombined = {}

    # loop through all combinations in list
    for combination in lstCombinations:

        # get list of column names with a 1 for given combination
        _dfFilterColsWithValue1 = [col for idx, col in enumerate(fCols) if combination[idx] == 1]

        # create string of column names
        _strFilterGroup = '_'.join(_dfFilterColsWithValue1)

        #print(_strFilterGroup)
        
        # NEED TO REPLACE WITH PROGRAMMATIC SOLUTION
        # apply condition to dataframe
        condition = (
            (_df['fVeh'].apply(is_empty_or_not) == combination[0]) &
            (_df['fTod'].apply(is_empty_or_not) == combination[1])
        )
        _filtered_df = _df[condition].copy()
        _filtered_df.drop(columns=['modVersion','scnGroup','scnYear'], inplace=True)
        #display(_filtered_df)

        # Remove columns where all values are NaN
        _filtered_df_noNA = _filtered_df.dropna(axis=1, how='all')
        #display(_filtered_df_noNA)

        _fColsToDrop = [col for col in _filtered_df_noNA.columns if col.startswith('f') and (_filtered_df_noNA[col] == '').all()]

        # Drop the identified columns - only have fCols with values
        _df2 = _filtered_df_noNA.drop(columns=_fColsToDrop)
        #display(_df2)

        # Get list of columns that begin with "a", create a dataframe the filter group for all possible combinations
        aCols = [col for col in _filtered_df_noNA.columns if col.startswith('a')]
        new_data = pd.DataFrame([{"filterGroup": _strFilterGroup, 'aCode': aCols}])
        new_data = new_data.explode('aCode').reset_index(drop=True)
        _dfFilterACodes = pd.concat([_dfFilterACodes, new_data], ignore_index=True)

        # get unique filter values
        _fColsRemain = [col for col in _df2.columns if col.startswith('f')]
        #display(_fColsRemain)
        if _fColsRemain:
            _dfFilterOptions = _df2[_fColsRemain].drop_duplicates()
        else:
            # add dummy row for no filter
            _dfFilterOptions = pd.DataFrame({'nofilter': ['']})

        #display(_dfFilterOptions)

        # Handle no filter data

        first_row = True

        for index, row in _dfFilterOptions.iterrows():
            #print('"filterSelection": ' + row.to_json())

            if _fColsRemain != []:
                # Dynamically construct the filter condition
                shared_columns = set(_dfFilterOptions.columns) & set(_df2.columns)
                conditions = (_df2[col].isin([row[col]]) for col in shared_columns)
                final_condition = next(conditions)

                for condition in conditions:
                    final_condition &= condition

                filtered_df2 = _df2[final_condition].copy()
                filtered_df2.drop(columns=_fColsRemain, inplace=True)
            else: # no filter condition
                # Find rows where the specified columns have empty strings
                filtered_df2 =  _df2
                
            filtered_df2.set_index('SEGID',inplace=True)
            #display(filtered_df2.shape[0])
            jsonFilterSelectionData = filtered_df2.to_json(orient='index')

            # Construct final JSON structure
            jsonData = {
                '_'.join(row.astype(str).values) : json.loads(jsonFilterSelectionData)
            }

            # Append the JSON structure from this iteration to the combined
            jsonDataCombined = {**jsonDataCombined, **jsonData}

    _dfAttributesWFilter = pd.DataFrame.merge(dfAttributes, _dfFilterACodes, on='aCode')
    jsonAttributes = _dfAttributesWFilter.to_dict(orient='records')
    jsonFilters = _dfFiltersWithOptions.to_dict(orient='records')

    # Construct final JSON structure
    jsonScenario = {
        'scenarioDetails': jsonScenarioDetails,
        'attributes': jsonAttributes,
        'filters': jsonFilters,
        'data': jsonDataCombined#,
        #'aggregations': aggregations_list
    }

    # Specify the desired file name
    filename = '_site/data/scnData/' + _scenarioCode + '/roadway-vizmap.json'

    # Open the file in write mode
    with open(filename, 'w') as file:
        json.dump(jsonScenario, file)

v900__Base__2019
v900__Base__2023
v900__TIP__2028
v900__RTP__2032
v900__RTP__2042
v900__RTP__2050
v900__NoBuild__2032
v900__NoBuild__2042
v900__NoBuild__2050
v900__Needs__2032
v900__Needs__2042
v900__Needs__2050
v900__Needs__2042
v900__Needs MAG__2050