In [2]:
import pandas as pd
import os

In [3]:
segSummaries =  "../data/transitSummaries/segments"
scnJson = "../_site/scenarios.json"

In [4]:
dfScn = pd.read_json(scnJson)
dfScn = dfScn[['modVersion','scnGroup','scnYear']]
display(dfScn)

   modVersion   scnGroup  scnYear
0        v900       Base     2019
1        v900       Base     2023
2        v900        TIP     2028
3        v900        RTP     2032
4        v900        RTP     2042
5        v900        RTP     2050
6        v900    NoBuild     2032
7        v900    NoBuild     2042
8        v900    NoBuild     2050
9        v900      Needs     2032
10       v900      Needs     2042
11       v900      Needs     2050
12       v900  Needs MAG     2050

In [7]:
# create folders
# Define a root directory where you want to create subfolders
root_dir = '../_site/data/scnData'

# Ensure the root directory exists
if not os.path.exists(root_dir):
    os.makedirs(root_dir)

# Loop through the dataframe and create subfolders
for index, row in dfScn.iterrows():
    folder_name = f"{row['modVersion']}__{row['scnGroup']}__{row['scnYear']}"
    full_path = os.path.join(root_dir, folder_name)
    
    if not os.path.exists(full_path):
        os.makedirs(full_path)
        print('Making directory: ' + full_path)
    else:
        print('Directory already made: ' + full_path)

Directory already made: ../_site/data/scnData\v900__Base__2019
Directory already made: ../_site/data/scnData\v900__Base__2023
Directory already made: ../_site/data/scnData\v900__TIP__2028
Directory already made: ../_site/data/scnData\v900__RTP__2032
Directory already made: ../_site/data/scnData\v900__RTP__2042
Directory already made: ../_site/data/scnData\v900__RTP__2050
Directory already made: ../_site/data/scnData\v900__NoBuild__2032
Directory already made: ../_site/data/scnData\v900__NoBuild__2042
Directory already made: ../_site/data/scnData\v900__NoBuild__2050
Directory already made: ../_site/data/scnData\v900__Needs__2032
Directory already made: ../_site/data/scnData\v900__Needs__2042
Directory already made: ../_site/data/scnData\v900__Needs__2050
Directory already made: ../_site/data/scnData\v900__Needs MAG__2050

In [10]:
import pandas as pd
import os
import glob

# Define the subfolder path
subfolder_path = r'E:\GitHub\vizTool\data\transitSummaries\segments'

# Create list for route names
_routesList = []

_df_combined = pd.DataFrame()

# Iterate through the scenarios
for _, row in dfScn.iterrows():
    
    _scenarioCode = row['modVersion'] + '__' + row['scnGroup'] + '__' + str(row['scnYear'])

    # Create temp list
    _tempList = []
    
    # Read the CSV into a dataframe
    _df = pd.read_csv(os.path.join(subfolder_path, row['modVersion'] + '__' + row['scnGroup'] + '__' + str(row['scnYear']) + ".csv"), usecols=["Name","LongName","Mode"])

    _df.rename(columns={'Name':'value','LongName':'label','Mode':'subag'}, inplace=True)

    _df = _df[['value','label','subag']]

    _df_combined = pd.concat([_df_combined, _df])

    _df = _df.drop_duplicates()

    # Populate list of names
    _tempList = _df['value'].values.tolist()
        
    
    # Specify the desired file name
    filename = '../_site/data/scnData/' + _scenarioCode + '/transit-route-names.json'
    display(filename)
    _df.to_json(filename, orient='records')

    print(_scenarioCode + ' Done!')

    #print(_tempList)
    #_routesList = pd.concat(_routesList,_tempList)
    #test = '_site/data/scnData/' + _scenarioCode + '/transit-route-names-all.json'
    #_tempList.to_json(test, orient = 'records')
    #del _tempListW

'../_site/data/scnData/v900__Base__2019/transit-route-names.json'

v900__Base__2019 Done!

'../_site/data/scnData/v900__Base__2023/transit-route-names.json'

v900__Base__2023 Done!

'../_site/data/scnData/v900__TIP__2028/transit-route-names.json'

v900__TIP__2028 Done!

'../_site/data/scnData/v900__RTP__2032/transit-route-names.json'

v900__RTP__2032 Done!

'../_site/data/scnData/v900__RTP__2042/transit-route-names.json'

v900__RTP__2042 Done!

'../_site/data/scnData/v900__RTP__2050/transit-route-names.json'

v900__RTP__2050 Done!

'../_site/data/scnData/v900__NoBuild__2032/transit-route-names.json'

v900__NoBuild__2032 Done!

'../_site/data/scnData/v900__NoBuild__2042/transit-route-names.json'

v900__NoBuild__2042 Done!

'../_site/data/scnData/v900__NoBuild__2050/transit-route-names.json'

v900__NoBuild__2050 Done!

'../_site/data/scnData/v900__Needs__2032/transit-route-names.json'

v900__Needs__2032 Done!

'../_site/data/scnData/v900__Needs__2042/transit-route-names.json'

v900__Needs__2042 Done!

'../_site/data/scnData/v900__Needs__2050/transit-route-names.json'

v900__Needs__2050 Done!

'../_site/data/scnData/v900__Needs MAG__2050/transit-route-names.json'

v900__Needs MAG__2050 Done!

In [ ]:
import pandas as pd

# Group by the 'value' column, concatenate 'label', and prepare 'subag' as a list of strings with "All" as the first item
result_df = _df_combined.groupby('value').agg({
    'label': lambda x: ' '.join(x.unique()),
    'subag': lambda x: ["All"] + [str(int(val)) for val in x.unique()]
}).reset_index()

# Print the resulting DataFrame to see the 'subag' list with quotations
display(result_df)

In [24]:
# Specify the desired file name
filename = '../_site/data/transit-route-names.json'
display(filename)


result_df = result_df.sort_values(by='label')

result_df.to_json(filename, orient='records', indent=2)


# Populate list of names
_tempList = result_df['value'].drop_duplicates().values.tolist()
        

print('All Done!')
print (_routesList)

print(_tempList)

'../_site/data/transit-route-names.json'

All Done!
[]
['Sline_Mill', 'BRT1300E_T', '1300So', '1700So', '200So_2', 'BRT_2700W_T', '300W', 'BRT3533S_Core', '3900S', '500E_2', '5400S', 'BRT56_R', 'BRT62S_T1', '900E_2', '900So', 'Cedar_Exp', 'CG_BRT_S1', 'Core_CedarLehi', 'Core_Nebo', 'Core_Maple', 'Core_State850', '7800FtUn_3', 'D460', 'D461', 'D462', 'Red', 'BRT123RD_A', 'Blue', 'BRT104th_2', 'BRTNSDA_R', 'FD605', 'FthlDr2100', 'HinckleyUnion', 'Orange', 'LakePark', 'MAG_LRT', 'LittleCott', 'M805_Santaquin', 'M806_EglMtn', 'M807_NoCnty', 'M809_AM-PG', 'M821_5YR2023', 'M821_Psn', 'M822_Psn', 'M823_5RY2023', 'M830X_ARPT', 'M831_WPr', 'M833_CntPr', 'M834_EstPr', 'M841_UVU', 'M850_StateStreet', 'M862_Orem', 'M864_ThanksgivingPnt', 'M871_SLtoUtahCnty', 'MF809', 'BRT3500S', 'MidValCon', 'MTTrolley', 'BRTNRedwd_T', 'O600', 'O601', 'O603', 'O604', 'O606', 'O607', 'O608', 'O609', 'O612', 'O613', 'O614', 'O615', 'O616', 'O625', 'O626', 'O627', 'O628', 'O630', 'O640', 'O645', 'O650', 'O667', 'OF605', 'OF618', 'OF620', 'OF638', 'RCRT_OGPN', 'Clear', 'PlsntClear', 'BRTRdwd_T', 'BRTRdwd_South', 'ClearRoyWest', 'BRTWash_R', 'S002', 'S003', 'S004', 'S006', 'S009', 'S011', 'S017', 'S021', 'S033', 'S035', 'S039', 'S041', 'S045', 'S047', 'S054', 'S062', 'S072', 'S1', 'S200', 'S201', 'S205', 'S209', 'S213', 'S217', 'S218', 'S220', 'S223', 'S227', 'S232', 'S236', 'S240', 'S248', 'S2X', 'S307X', 'S31', 'S313X', 'S320X', 'S354X', 'S451X', 'S454', 'S455', 'S456', 'S463', 'S470', 'S471', 'S472X', 'S473X', 'S509', 'S513', 'S519/520', 'S525', 'S526', 'S551', 'SF11', 'SF202', 'SF232', 'SF453', 'SF504', 'SF514', 'SF518', 'SF522', 'SF525', 'SF534', 'SF546', 'SF547', 'SF556', 'SF570', 'SF578', 'SF590', 'SF94', 'BRTFTHLWA_N', 'Santaquin_Exp', 'ShldSego_3', 'SoJoSandyC', 'StGrid_2', 'StGrid_2_BRT', 'StGrid_2_Core', 'Sline', 'RGRANSUG_U', 'UVX', 'BRT_VinOrm', 'Green']

In [12]:
_df_combined

           value                              label  subag
2122  BRT1300E_T                 1300 East Corridor    5.0
3774  Sline_Mill                 1300 East Corridor    7.0
3064  Sline_Mill                 1300 East Corridor    5.0
0         1300So                         1300 South    4.0
1746      1700So                         1700 South    5.0
...          ...                                ...    ...
3704  RGRANSUG_U        Sugarhouse Streetcar to SLC    7.0
3551         UVX                                UVX    9.0
3322         UVX            UVX University Pkwy/Ave    9.0
3260  BRT_VinOrm            UVX University Pkwy/Ave    9.0
3382       Green  WVC to SLC CBD to SLC Airport LRT    7.0

[181 rows x 3 columns]

             value                          label     subag
0           1300So                     1300 South  [All, 4]
1           1700So                     1700 South  [All, 5]
2          200So_2  200 South - 200So_Core as BRT  [All, 9]
3             300W              300 West Corridor  [All, 5]
4            3900S         3900 S/4100 S Corridor  [All, 5]
..             ...                            ...       ...
169     SoJoSandyC  South Jordan/Sandy Circulator  [All, 5]
170       StGrid_2          State Street Corridor  [All, 5]
171   StGrid_2_BRT    State Street Corridor - BRT  [All, 9]
172  StGrid_2_Core   State Street Corridor - Core  [All, 5]
173            UVX    UVX UVX University Pkwy/Ave  [All, 9]

[174 rows x 3 columns]